*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}
body{
    background-color: aliceblue;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar-brand img{
    height: 41px;
    padding-left: 30px;
    
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a
{
    float:left;
    text-align: right;
    color: #fff!important;
}
#nav-bar ul li a:hover
{
    color: #007bff !important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none! important;
}
.nav-link
{
    color: #555;
    font-weight: 600;
    font-size: 16px;
}

/*--------------------Slider______________*/
#slider
{
    width: 100%;
}
.carousel-caption
{
  top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}
.carousel-caption h5
{
color: #4287f5;
    font-size: 45px;
}
#slider img{
	width: 100%!important;
}
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
    cursor: pointer;
}
.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
}
.price-head h2{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p{
    font-size: 25px;
    line-height: 30px;
    color: #ccc;
    font-weight: bold;
}
#price span{
    font-size: 15px;
}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 10px 15px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    font-size: 15px;
    float: left;
}
.fa-times-circle{
    color: red;
    font-size: 15px;
    float: left; 
}
.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
#about h1::after{
	content: '';
    background: #007bff;
    display: block;
    height: 4px;
    width: 180px;
  margin: 20px auto 5px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
      
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

